/* careers page */
/* ------------------------------------- */
/* 
:root {
	--theme-black: #37424a;
	--theme-black-rgb: 55, 66, 74;
	--theme-dark-green: #00584f;
	--theme-dark-green-rgb: 0, 88, 79;
	--theme-green: #007564;
	--theme-green-rgb: 0, 117, 100;
} 
*/

/* careers typography  */
/* -------------- */

[id*="careers"] p {
	font-size: 22px;
	font-weight: 300;
	line-height: 1.5;
}
[id*="careers"] h1 {
	font-size: 80px;
	line-height: 1.1;
	font-weight: 300;
	letter-spacing: -0.5px;
}
[id*="careers"] h2 {
	font-size: 46px;
	font-weight: 300;
	line-height: 1.5;
}
[id*="careers"] h3 {
	font-size: 32px;
	font-weight: 300;
	line-height: 1.5;
}

@media screen and (max-width: 640px){
	[id*="careers"] p {
		font-size: 18px;
	}
	[id*="careers"] h1 {
		    font-size: 36px;
	}
	[id*="careers"] h2 {
		font-size: 32px;
	}
	[id*="careers"] h3 {
		font-size: 28px;
	}
	[id*="careers"] h4 {
		font-size: 24px;
	}
}

/* careers header */
/* -------------- */

[id*="careers-banner"] h1 {
	text-align:center;
}

@media screen and (min-width: 1200px){
	[id*="careers-banner"] .col.sqs-col-12.span-12 {
		max-width: 60%;
		float:none;
		margin-left: auto;
		margin-right:auto;
	}
}

/* careers hero overlay */
.tweak-overlay-parallax-enabled [id*="careers-banner"].Index-page--has-image {
    background: linear-gradient(94deg,rgba(55, 66, 74,0.7) 0%,rgba(0,117,100,0.7)100%);

}
#collection-615e263518349219615763ca { 
	  .Parallax-item:first-of-type figure{
		background-color:rgba(0, 117, 100,0.7);
	  }
}
#collection-615e263518349219615763ca { 
	.Parallax-item:first-of-type  figure img{
		filter: grayscale(70%);
		/*mix-blend-mode: overlay;*/
	}
}


/* careers intro */
/* -------------- */

#careers-intro { }
#careers-intro h2 {
    color: #007564;
}

/* careers energy-innovators */
/* -------------- */


#careers-energy-innovators {
	background: #46555f;
}
#careers-energy-innovators p {
	color: #fff;
}

#careers-energy-innovators h2 {
    color: #fff;
}


/* careers values section */
/* -------------- */

#careers-values h1 {
	text-align: left;
}

/* careers next section */
/* -------------- */


/* ^^^ end careers page */
