/* overview page */
/* ------------------------------------- */
/* 
:root {
	--theme-black: #37424a;
	--theme-black-rgb: 55, 66, 74;
	--theme-dark-green: #00584f;
	--theme-dark-green-rgb: 0, 88, 79;
	--theme-green: #007564;
	--theme-green-rgb: 0, 117, 100;
	--theme-bright-green: #00B299;
	--theme-bright-green-rgb: 0,178, 153;
} 
 */

 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

 /* overview typography  */
 /* -------------- */
 
 #collection-6166acdd14fab47b2af0032b {
     font-family: Roboto;
 }
 
 ._white,
 [id*="overview"] ._white {
     color: #fff !important;
 }
 
 [id*="overview"] p.large {
     font-size: 22px;
     font-weight: 300;
     line-height: 1.5;
 }
 
 [id*="overview"] p {
     font-size: 18px;
     font-weight: 300;
     line-height: 1.5;
 }
 [id*="overview"] h1 {
     font-size: 80px;
     font-size: min(max(50px, 5vw), 80px);
     line-height: 1.1;
     font-weight: 300;
     letter-spacing: -0.5px;
 }
 [id*="overview"] h2 {
     font-size: 46px;
     font-weight: 300; 
     line-height: 1.1;
     letter-spacing: -0.5px;
     color: var(--theme-black);
 }
 
 [id*="overview"] h2.subtitle {
     font-size: 22px;
     font-weight: 400;
     line-height: 30px;
     text-align: left;
 }
 
 [id*="overview"] h3 {
     font-size: 32px;
     font-weight: 300;
     line-height: 1.3;
     letter-spacing: -0.5px;
 }
 [id*="overview"] h4 {
     font-size: 28px;
     font-weight: 300;
     line-height: 1.5;
     letter-spacing: -0.5px;
 }
 [id*="overview"] h5 {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.5px;
    margin: 0;
}
[id*="overview"] h2,
 [id*="overview"] h5 {
    color: #37424a;
 }
 [id*="overview"] h3,
 [id*="overview"] h4 {
     color: #00B299;
 }
 [id*="overview"] h1._white,
 [id*="overview"] h2._white,
 [id*="overview"] h3._white,
 [id*="overview"] h4._white {
     color: #fff;
 }
 [id*="overview"] h4 {
     margin-top: 0;
     margin-bottom: 0;
 }

 #overview-for .sqs-block.code-block {
     padding-bottom: 0;
     padding-top: 0;
 }
 
 @media screen and (max-width: 640px){
     [id*="overview"] p {
         font-size: 18px;
     }
     [id*="overview"] h1 {
             font-size: 36px;
     }
     [id*="overview"] h2 {
         font-size: 32px;
     }
     [id*="overview"] h3 {
         font-size: 28px;
     }
     [id*="overview"] h4 {
         font-size: 24px;
     }
 }
 
 [id*="overview"] a[class*="button"]{
     color:#fff;
     font-size: 18px;
     font-weight: 500;
     border-radius: 8px;
     background-color: #00B299;
 }
 
 @media screen and (max-width: 1024px){
     #collection-6166acdd14fab47b2af0032b .sqs-layout [class*=sqs-col] {
             float: none !important;
             width: auto !important;
     }
 }
 
 
 /* overview header */
 /* -------------- */
 
 [id*="overview-banner"] h1 {
     text-align:left;
 }
 
 @media screen and (min-width: 1200px){
     [id*="overview-banner"] .columns-12 {
         max-width: 1200px;
         float:none;
         margin-left: auto;
         margin-right:auto;
     }
 }
 
/* overview hero overlay */
#overview-banner.Index-page--has-image .Index-page-content {
    padding-bottom: 0;
}
#overview-banner .sqs-block.image-block {
   max-height: 50vh;
   padding-bottom: 0;
    margin-top: -15%;
}
@media screen and (max-width: 1024px){
    #overview-banner .sqs-block.image-block {
        max-height: unset;
        margin-top: unset;
     }
}
#overview-banner img.thumb-image.loaded {
   max-width: 35vw;
   top: unset;
   bottom: 0;
}
@media screen and (max-width: 1024px){
    #overview-banner img.thumb-image.loaded {
        max-width: unset;   
    }
}

 
 /* overview hero overlay */
 .tweak-overlay-parallax-enabled [id*="overview-banner"].Index-page--has-image {
     background: rgb(0,117,100);
     background: linear-gradient(0deg, rgba(0,117,100,1) 0%, rgba(55,66,74,1) 100%);
     /* min-height: calc(75vh - 50px) !important; */
     height: 100vh;
 }
 @media screen and (max-width: 1024px){
    .tweak-overlay-parallax-enabled [id*="overview-banner"].Index-page--has-image {
        min-height: 100vh;
        height: auto;
    }
}

 /* break image */
 
 #overview-break {
    background-color: rgba(0,117,100,0.7);
}
.tweak-overlay-parallax-enabled [id*="overview-break"].Index-page--has-image {
    background-color: rgb(0,117,100);
    background-color: linear-gradient(90deg, rgba(0,117,100,0.7) 0%, rgba(55,66,74,0.7) 100%);
}

#collection-6166acdd14fab47b2af0032b *
.Parallax-item:nth-of-type(2) figure img {
    filter: grayscale(90%);
    /*mix-blend-mode: overlay;*/
}
 /* section #2 */
 
 #overview-______ {
     background-color: rgba(97,119,133,0.9);
 }
 #collection-6166acdd14fab47b2af0032b *
 .Parallax-item:nth-of-type(2) figure img {
     filter: grayscale(70%);
     /*mix-blend-mode: overlay;*/
 }
 
 /* #overview-problem-solved */


/*  #overview-oreder-chaos */

#overview-order-chaos h2 {
    color:#fff;
}

/* overview-communication */
 
#overview-communication {
    background: #f6f6f6;
}

#overview-communication .slide a img {
    mix-blend-mode: luminosity;
    /*  */
    transform: scale(1);
    transform-origin: center center;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}
#overview-communication .slide a:hover img {
    mix-blend-mode: unset;
    transform: scale(1.05);
}

#overview-communication .slide a {
    /* 
    mix-blend doesnt work if transform is on this element
     */
}
#overview-communication .slide a:hover {

}


 /*  #technology-real-world */
 
 #overview-real-world h2{
    color:#fff;
}
#overview-real-world svg{
   max-width: 150px;
}

#overview-real-world.Index-page--has-image a.sqs-block-button-element {
   color: #fff !important;
   border: 1px solid #00b3a4 !important;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   border-radius: 8px;
   background-color: #00B299;
   box-shadow: 0 2px 0 0 #008a7e;
}
#overview-real-world.Index-page--has-image a.sqs-block-button-element--medium:hover {
   background-color: #00c2b2;
}


/* ----------------- */
/*  #overview-______ */

#overview-______ h2 {
    color:#fff;
}

/*  */
 

/* section #2 */
 
#overview-______ {
    background-color: rgba(97,119,133,0.9);
}
/* #collection-6166acdd14fab47b2af0032b *
.Parallax-item:nth-of-type(2) figure img {
    filter: grayscale(70%);
} */