/* sunlocker page */
/* ------------------------------------- */
/* 
:root {
	--theme-black: #37424a;
	--theme-black-rgb: 55, 66, 74;
	--theme-dark-green: #00584f;
	--theme-dark-green-rgb: 0, 88, 79;
	--theme-green: #007564;
	--theme-green-rgb: 0, 117, 100;
	--theme-bright-green: #00B299;
	--theme-bright-green-rgb: 0,178, 153;
} 
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

/* sunlocker typography  */
/* -------------- */

#collection-6165033971066518b8c25e75 {
    font-family: Roboto;
}

[id*="sunlocker"] p.large {
	font-size: 22px;
	font-weight: 300;
	line-height: 1.5;
}

[id*="sunlocker"] p {
	font-size: 18px;
	font-weight: 300;
	line-height: 1.5;
}
[id*="sunlocker"] h1 {
	font-size: 80px;
	line-height: 1.1;
	font-weight: 300;
	letter-spacing: -0.5px;
}
[id*="sunlocker"] h2 {
	font-size: 46px;
	font-weight: 300;
	line-height: 1.1;
	letter-spacing: -0.5px;
}

[id*="sunlocker"] h2.subtitle {
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    text-align: center
}

[id*="sunlocker"] h3 {
	font-size: 32px;
	font-weight: 300;
	line-height: 1.3;
	letter-spacing: -0.5px;
}
[id*="sunlocker"] h4 {
	font-size: 28px;
	font-weight: 300;
	line-height: 1.5;
	letter-spacing: -0.5px;
}
[id*="sunlocker"] h2,
[id*="sunlocker"] h3,
[id*="sunlocker"] h4 {
    color: #00B299;
}
[id*="sunlocker"] h4 {
	margin-top: 0;
	margin-bottom: 0;
}

@media screen and (max-width: 640px){
	[id*="sunlocker"] p {
		font-size: 18px;
	}
	[id*="sunlocker"] h1 {
		    font-size: 36px;
	}
	[id*="sunlocker"] h2 {
		font-size: 32px;
	}
	[id*="sunlocker"] h3 {
		font-size: 28px;
	}
	[id*="sunlocker"] h4 {
		font-size: 24px;
	}
}

[id*="sunlocker"] a[class*="button"]{
	color:#fff;
	font-size: 18px;
	font-weight: 500;
	border-radius: 8px;
	background-color: #00B299;
}

@media screen and (max-width: 1024px){
	#collection-6165033971066518b8c25e75 .sqs-layout [class*=sqs-col] {
			float: none !important;
			width: auto !important;
	}
}


/* sunlocker header */
/* -------------- */

[id*="sunlocker-banner"] h1 {
	text-align:center;
}

@media screen and (min-width: 1200px){
	[id*="sunlocker-banner"] .col.sqs-col-12.span-12 {
		max-width: 60%;
		float:none;
		margin-left: auto;
		margin-right:auto;
	}
}


/* sunlocker hero overlay */
.tweak-overlay-parallax-enabled [id*="sunlocker-banner"].Index-page--has-image {
    background: rgb(0,117,100);
    background: linear-gradient(90deg, rgba(0,117,100,0.7) 0%, rgba(55,66,74,0.7) 100%);
}

#collection-6165033971066518b8c25e75 { 
	  .Parallax-item:first-of-type figure{
		background-color:rgba(0, 117, 100,0.7);
	  }
}
#collection-6165033971066518b8c25e75 { 
	.Parallax-item:first-of-type  figure img{
		filter: grayscale(70%);
		/*mix-blend-mode: overlay;*/
	}
}

/* too much solar */

#sunlocker-too-much-solar {
    background-color: rgba(97,119,133,0.9);
}
#collection-6165033971066518b8c25e75 { 
	.Parallax-item:nth-of-type(2) figure img {
		filter: grayscale(70%);
		/*mix-blend-mode: overlay;*/
	}
}